# git ignore files

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# pytest
.pytest_cache/ 